# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Database files
*.db

# Markdown files (ignore all except README)
*.md
!README.md

# Allow committing example env file
!.env.example
